# Flutter / Dart .gitignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.metadata
build/
*.lock
.env.local
.DS_Store
.idea/
*.iml
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Generated Flutter Plugin Registrants
**/GeneratedPluginRegistrant.java
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Android Keystores & Signing Keys
*.keystore
*.jks
*.p8
*.p12
key.properties
android/app/release.keystore
